@use "abstracts" as *;

.container {
  display: grid;
  place-items: center;
  height: 100vh;
  width: 100vw;
}

.main {
  border-radius: 0;
  background: $black;
  box-shadow: 28px 28px 56px $black-dark, -28px -28px 56px $black-light;
  height: 100vh;
  width: 100%;
  display: grid;
  place-items: center;
}

.section {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}

.img {
  width: 10rem;
}

.title {
  font-size: 2.8rem;
  color: $secondary;
  margin-bottom: 0;
}

.subtitle {
  font-size: 1.2rem;
  color: $secondary;
}

@media (min-width: $mobile) {
  .main {
    height: 90vh;
    width: $mobile;
    border-radius: 2rem;
  }
}
